@import "./mixins";

.nextItem {
  @extend %item;

  &:hover {
    border-color: white;
  }

  > button {
    border: 2px dashed $de-em;
    background: none;
    color: $de-em;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    width: 100%;
    line-height: $item-width;

    &:hover {
      color: white;
    }
  }
}
