@import "./mixins";

.nextItem {
  @extend %item;

  &:hover {
    border-color: white;
  }

  > button {
    $borderWidth: 0.2rem;

    border: $borderWidth dashed $de-em;
    background: none;
    color: $de-em;
    outline: none;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    width: 100%;
    line-height: $item-width - 2 * $borderWidth;

    &:hover {
      color: white;
    }
  }
}
