html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Helvetica Neue LT Pro', Helvetica, Arial, sans-serif;
  background: #363636;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  color: white;
}

header h1 {
  font-size: 2.8rem;
  font-weight: 300;
  text-align: center;
}

main {
  max-width: 96.0rem;
  margin: 0 auto;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
