@import "../mixins";

$borderWidth: 0.2rem;

.item {
  @extend %item;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.67s ease-in-out;
  transform-style: preserve-3d;
  transform-origin: right center;

  &.flipped {
    transform: translateX(-100%) rotateY(180deg);
  }

  .front,
  .back {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    backface-visibility: hidden;
    border: $borderWidth solid $de-em;
    box-shadow: 2px 2px 5px #000;
  }

  .back {
    background: #363636;
    transform: rotateY( 180deg );
    display: table;

    .content {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.revealBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
  width: 100%;
  height: 100%;
  color: $de-em;

  &:hover {
    color: white;
  }
}

.spinner {
  $spinner-width: 9.0rem;

  display: block;
  width: $spinner-width;
  height: $spinner-width;
  margin: ($item-width - $spinner-width) / 2 - $borderWidth;
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
